
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StaffPage</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    @*event scripts*@
    <script>
        $(document).ready(function () {
            $("#Adddrop").hide()
            $("#depositform").hide()
            $("#withdrawform").hide()
            $("#fundtransferform").hide()
            $("#balanceenquiryform").hide()
            $("#ministatementform").hide()
            $("#customisedministatementform").hide()
            $("#changepasswordform").hide()




            $("#add").click(function () {
                $("#Adddrop").slideToggle("slow");
            });

           
            $("#deposit").click(function () {
                $("#depositform").slideToggle("slow");
            });


            $("#withdrawamout").click(function () {
                $("#withdrawform").slideToggle("slow");
            });

            $("#fundtransfer").click(function () {
                $("#fundtransferform").slideToggle("slow");
            });

            $("#balanceenquiry").click(function () {
                $("#balanceenquiryform").slideToggle("slow");
            });

            $("#ministatement").click(function () {
                $("#ministatementform").slideToggle("slow");
            });


            $("#customisedministatement").click(function () {
                $("#customisedministatementform").slideToggle("slow");
            });


            //change password button click event
            $("#changepassword").click(function () {

                $("#changepasswordform").slideToggle("slow");

            });
        });
    </script>

</head>

<body>
    <div>
        <button id="add">ADD Customer</button>
        <br />

        <form id="Adddrop">
            <p>Enter Customer Id</p>
            <input type="text" id="customerIdForAdd" />
            <input type="submit" value="submit" id="SubmitAddBtn" />
        </form>

        

        <button id="deposit">Deposit</button>

        <br />
        <form id="depositform">
            <p>Account No.</p>
            <input type="text" id="accNo" /><br />
            <p>Amount</p>
            <input type="text" id="depositAmount" /><br />
            <p>Deposit Date</p>
            <input type="text" id="depositDate" /><br />
            <p>Comments</p>
            <input type="text" id="comments" />
            <input type="submit" value="deposit" id="depositbtn" />
        </form>

        <button id="withdrawamout">Withdraw Amout</button>

        <br />
        <form id="withdrawform">
            <p>Account No.</p>
            <input type="text" id="WithDrawaccNo" /><br />
            <p>Amount</p>
            <input type="text" id="WithDrawAmount" /><br />
            <p>Withdraw Date</p>
            <input type="text" id="WithdrawDate" /><br />
            <p>Comments</p>
            <input type="text" id="comments" />
            <input type="submit" value="WithDraw" id="withdrawtbtn" />
        </form>

        <button id="fundtransfer">Fund Transfer</button>

        <br />

        <form id="fundtransferform">
            <p>Source Account no</p>
            <input type="text" id="SourceAccno" /><br />
            <p>destination Account no</p>
            <input type="text" id="DestinationAccno" /><br />
            <p>Amount</p>
            <input type="text" id="TransferAmount" /><br />
            <p>Transferring Date</p>
            <input type="text" id="TransferDate" /><br />
            <p>comments</p>
            <input type="text" id="FundTransferComments" />
            <input type="submit" value="Transfer" id="TransfertBtn" />

        </form>

        <button id="balanceenquiry">Balance Enquiry</button>

        <br />

        <form id="balanceenquiryform">
            <p>Enter Account number</p>
            <input type="text" id="BalanceEnquiryaccno" />
            <input type="submit" value="Balance Enquiry" id="BalanceEnquirybtn" />
        </form>

        <button id="ministatement">Mini Statement</button>

        <br />

        <form id="ministatementform">
            <p>Enter Account number</p>
            <input type="text" id="Ministatementaccno" />
            <input type="submit" value="Generate Mini Statement" id="MiniStatemenBtn" />
        </form>

        <button id="customisedministatement">Customised Mini Statement</button>

        <br />

        <form id="customisedministatementform">
            <p>Enter Account number</p>
            <input type="text" id="CustomMinistatementaccno" />
            <p>Enter From Date</p>
            <input type="text" id="FromDate" />
            <br />
            <p>Enter To Date</p>
            <input type="text" id="ToDate" />
            <input type="submit" value="Generate Custom Mini Statement" id="CustomMiniStatemenBtn" />
        </form>


        <button id="changepassword">Change Password</button>

        <br />

        <form id="changepasswordform">
            <p>Enter Old Password</p>
            <input type="text" id="oldpass" />
            <br />
            <p>Enter New Password</p>
            <input type="text" id="newpass" />
            <br />
            <p>Renter New Password</p>
            <input type="text" id="newpass2" />
            <br />
            <input type="submit" value="submit" id="SubmitChangePass" />
        </form>
    </div>
</body>
</html>
